/* #F9DCE1
 #1D1F20 */

body{
    background-color: #92979B;
    color: #36393A;
    Font-Family: 'Fauna One', Serif;
    Font-Size: 14px;
}
h1 {
    Font-Family: 'Cinzel', Cursive;
    Font-Size: 44px;
}

/* Navagation Bar */
#nav {
    width: 100%;
    background: #F9DCE1;
    position: sticky;
}
  /* (B) HORIZONTAL MENU ITEMS */
.breadcrumb {
    display: flex;
}
.breadcrumb a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: #36393A;
    text-decoration: none;
    text-align: center;
}
.breadcrumb a:hover {
    background: #F297BE;
}
  /* (C) HIDE HAMBURGER */
#nav label, #hamburger {
    display: none;
}
@media screen and (max-width: 640px){
    /* (A) BREAK INTO VERTICAL MENU */
    .breadcrumb a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }
    #nav label {
        display: inline-block;
        color: white;
        background: #36393A;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }

    /* (C) TOGGLE SHOW/HIDE MENU */
    .breadcrumb {
        display: none;
    }
    #nav input:checked ~ .breadcrumb {
        display: block;
    }
}
